<ul class="list-group">
   <li class="list-group-item" ng-repeat="message in  vm.user.allMessages">
      <div>
      <span>{{message.title}}</a></span>
      	<span class = "pull-right">
	    	<a ui-sref="index.messagedetail({messageID:'{{message.id}}'})"><span class="glyphicon glyphicon-eye-open">View</span></a>
	    	<a ng-click="vm.viewMessage(message.id)"><span class="glyphicon glyphicon-trash">Delete</span></a>
	    	<a ng-click="vm.markToggle(message.id)"><span class="glyphicon glyphicon-star">Mark</span></a>
	    	<a ng-click="vm.replyMessage(message.id)"><span class="glyphicon glyphicon-share-alt">Reply</span></a>
		</span>
	  </div>
   </li>
   <li class="list-group-item" ng-show="!vm.user.allMessages.length">You have no messages.
   </li>
</ul>
<p>&nbsp;</p>
<!-- 
refer to this link for more on the paramas passing
http://stackoverflow.com/questions/28248236/angular-ui-router-passing-data-between-states-without-url
 -->
